body {
  background-color: #F3E5AB;
  border-size: solid;
  border-radius: 5px;
}
h1 {
  background-color: TOMATO;
  text-align-last: center;
  border-radius: 6px;
  margin: 5px;
}

p {
  background-color: #FBD5AB;
  border-radius: 5px;
  margin: 6px;
  font-family: Times New Roman;
  font-size: 20px;
  
}